body {
    color: #FFFC19;
    background-color: #181818;
        font-family: 'Amatic SC', cursive;
font-family: 'Courier Prime', monospace;

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;

}

header {
    text-align: center;

}





