body {
    color: #181818;
    background-color: #FAFAFA;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-family: 'Courier Prime', monospace;

}

header {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

hr {
   border: 10% solid black;
}

#banner {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 83%;
    border-color: black;
    border-radius: 1rem;
    border-style: double;
    border-width: 5px;

}

h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#logo {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 4%;
  height: 4%;
  padding-bottom: 1rem;
  min-width:32px;
}

#subtitle {
 text-align: center;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color:#00a86b;
 font-size:xx-large;
}

#bio{
    background-color: #DAF7A6;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    font-weight: 200px;
    display: block center;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;
    border-left-style: double;
    border-left-color: #232323;
    border-left-width: 30px;
    
    border-right-style: double;
    border-right-color: #232323;
    border-right-width: 30px;

    justify-content: center;
    text-align: center;
    line-height: 40px;

    max-width: 600px;
}

#h3{
    text-align: center;
    color:gold;
    -webkit-text-stroke: saddlebrown;
    -webkit-text-stroke-width: 0.45px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-style:double;
    border-width: 5px;
    border-color:saddlebrown;
    background-image: url(/img/w00d.jpeg);
    background-color: sienna;
    border-radius: 5px;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

/* Photo Gallery */

#gallery {
    border: 3px white;
    text-align: center;
    background-color: #c5d5c5;
    padding-bottom: 1rem;
    min-width: 300p;
}

#gallery img {
    max-width:100%;
    border-color: black;
    border-radius: 5rem;
    border-style: double;
    border-width: 5px; 

}

#gallery figcaption {
    padding: 1rem 1rem;
    max-width:100%;
    border-color: black;
    border-radius: 5rem;
    border-style: double;
    border-width: 5px;
    background-color: aliceblue;
    background-image: url(/img/Sunflower_Bkgrd.jpeg);
    font-family: fantasy;
    text-align: center;
    max-width: 350px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    justify-content: center;

}

/* Hobbies Gallery */

#hobbies-gallery {
  border: 3px white;
  text-align: center;
  background-color: #c5d5c5;
  padding-bottom: 1rem;
}

#hobbies-gallery img {
  max-width:100%;
  border-color: black;
  border-radius: 5rem;
  border-style: double;
  border-width: 5px; 

}

#hobbies-gallery figcaption {
  padding: 1rem 1rem;
  max-width:100%;
  border-color: black;
  border-radius: 5rem;
  border-style: double;
  border-width: 5px;
  background-color: aliceblue;
  background-image: url(/img/Sunflower_Bkgrd.jpeg);
  font-family: fantasy;
  text-align: center;
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

}



#blog {
    margin-top: 5rem;
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



/* -----------Media Queries------------- */

/* Garden Gallery */


@media screen and (min-width:1200px) {

    #gallery {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        align:center;

    }
    #gallery hr {
        display:none;
    }
    #gallery h2 {
        grid-column:1/-1;
    }
    #gallery figure {
        display:block;
    }
}

/* Hobbies Gallery */

@media screen and (min-width:1200px) {

  #hobbies-gallery {
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
      align:center;

  }
  #hobbies-gallery hr {
      display:none;
  }
  #hobbies-gallery h2 {
      grid-column:1/-1;
  }
  #hobbies-gallery figure {
      display:block;
  }
}

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 100%;
      padding: 0;
    }

  }

   footer {
    margin:5em;
    color:#3F00FF;
    font-family: 'Courier New', Courier, monospace;
   }
